@model CadastraCaixas.Models.Caixa

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Caixa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoDestruicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoDestruicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
